html {
    font-family: 'Noto Sans TC';
    font-size: 12pt;
}

/*.svg-container {*/
    /*display: inline-block;*/
    /*!*position: relative;*!*/
    /*!*width: 100%;*!*/
    /*padding-bottom: 100%; !* aspect ratio *!*/
    /*vertical-align: top;*/
    /*overflow: hidden;*/
/*}*/
/*.svg-content-responsive {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 0;*/
/*}*/

.d3_charts {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: lightblue;
}

.chinese-Container {
    position: absolute;
    width: 50%;
    float: left;
}

.svg-container {
    width: 200px;
    float: left;
}

.chinese-Container {
    position: absolute;
    width: 80%;
    float: left;
}